<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ basename }} - {{ site_name }}
        </title>
        <!-- code syntax highlighter START-->
        <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/solarized_light.min.css">
        <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
        <script>
            hljs.tabReplace = '    ';
            hljs.initHighlightingOnLoad();
        </script>
        <!-- code syntax highlighter END-->
        {{ include('head.html.twig') }}
    </head>
    <body>
        <header>
            <nav>
                <a href="index.php"><img src="favicon-32x32.png" /></a>
                <ul>
                    {{ nav_breadcrumb|raw }}
                </ul>
            </nav>
            <h1> {{ basename }} </h1>
            <p> Published at {{ date_str }} </p>
        </header>
        <main>
            <article>
                {{ content|raw }}
            </article>
            <hr>
            <!-- disqus start -->
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//{{ disqus }}.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <!-- disqus end -->
        </main>
        <footer>
            <a href='{{ file_name|url_encode }}'>Source</a>
        </footer>
    </body>
</html>